<img class="ui mini circular middle aligned image nav-img" src="{{pictureUrl}}">

<div class="ui simple dropdown item">
    <div class="nav-text text">{{user.username}}</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="item" [routerLink]="['Profile',{ id: user.id }]">
            <a>Profile</a>
        </div>
        <div class="item" [routerLink]="['Notifications']">
            <a>Notifications</a>
        </div>
        <div class="divider"></div>
        <div class="item" [routerLink]="['Settings']">
            <a>Settings</a>
        </div>
        <div class="item" (click)="logout()">
            <a>Logout</a>
        </div>
    </div>
</div>

