<div *ngIf="reviews" class="user-reviews four wide column">
    <div class="ui header">Reviews</div>
    <div *ngFor="let review of reviews" class="reviews ui card">
        <div class="content">
            <div class="ui sub header">
                <a [routerLink]="['Review',{ id: review.id }]" class="header">
                    {{review.title}}
                </a>
            </div>
            <div class="meta">
                  <span class="right floated author">
                      <a [routerLink]="['Show',{ id: review.show_id }]" class="header">
                          Show {{review.show_id}}
                      </a>
                  </span>
            </div>
            <div class="description">
                {{review.message}}
            </div>
        </div>
        <div class="extra content">
            <span class="left floated time">{{review.created_at | mydate | date}}</span>
        </div>
    </div>
</div>