<div class="ui three column grid">
    <div class="four wide column">
        <h2 class="ui header">
            <i class="settings icon"></i>
            <div class="content">
                Account Settings
                <div class="sub header">Manage your preferences</div>
            </div>
        </h2>
        <img class="ui medium image" src="{{pictureUrl}}">
    </div>
    <div class="seven wide column">
        <table class="ui single line table">
            <tbody>
            <tr>
                <td>Username</td>
                <td>
                    <div class="settings ui input">
                        <input type="text" [(ngModel)]="user.username">
                    </div>
                </td>
            </tr>
            <tr>
                <td>First name</td>
                <td>
                    <div class="settings ui input">
                        <input [(ngModel)]="user.first_name" type="text">
                    </div>
                </td>
            </tr>

            <tr>
                <td>Last name</td>
                <td>
                    <div class="settings ui input">
                        <input [(ngModel)]="user.last_name" type="text">
                    </div>
                </td>
            </tr>

            <tr>
                <td>E-mail</td>
                <td>
                    <div class="settings ui input">
                        <input [(ngModel)]="user.email" type="text">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="ui green labeled icon button" (click)="update()">
                        <i class="check icon"></i>
                        Save changes
                    </button>
                </td>
                <td></td>
            </tr>
        </table>


    </div>
    <div class="five wide column">
        <div class="ui header">Change password</div>
        <form class="ui form">
            <div class="field">
                <label>Password</label>
                <input type="password" [(ngModel)]="password.old">
            </div>
            <div class="field">
                <label>New password</label>
                <input type="password" [(ngModel)]="password.new1">
            </div>
            <div class="field">
                <label>Retype new password</label>
                <input type="password" [(ngModel)]="password.new2">
            </div>
            <button class="ui button" (click)="changePassword()">
                Submit
            </button>
        </form>
    </div>
</div>

