<div class="ui stackable grid" *ngIf="review">
    <div class="four wide column">
        <div [routerLink]="['Show',{ id: review.show_id }]" class="ui card small image">
            <img src="{{review.poster}}">
        </div>
        <a class="ui sub header" [routerLink]="['Show',{ id: review.show_id }]">
            {{review.show}}
        </a>
    </div>
    <div class="eight wide column">
        <div class="ui header">{{review.title}}</div>
        <div class="reviews ui card">
            <div class="content">
                <div class="meta">
                </div>
                <div class="description">
                    {{review.message}}
                </div>
            </div>
            <div class="extra content">
                <span class="right floated author">
                   <a [routerLink]="['Profile',{ id: review.user_id }]" class="header">
                       <img class="ui avatar image" src="{{review.user}}">
                       {{review.username}}
                   </a>
                  </span>
                <span class="left floated time">{{review.created_at | mydate | date}}</span>
            </div>
        </div>

        <div *ngIf="comments" class="ui comments">

            <div *ngFor="let comment of comments" class="comment">
                <a class="avatar" [routerLink]="['Profile',{ id: comment.user_id }]">
                    <img src="{{comment.user}}">
                </a>
                <div class="content">
                    <a [routerLink]="['Profile',{ id: comment.user_id }]" class="author">{{comment.username}}</a>
                    <div class="metadata">
                        <span class="right floated date">{{comment.created_at | mydate | timeAgo}}</span>
                    </div>
                    <div class="text">
                        {{comment.message}}
                    </div>
                </div>
            </div>

            <form class="ui reply form">
                <div class="field">
                    <textarea id="review-comment" rows="2" [(ngModel)]="reply"></textarea>
                </div>
                <div (click)="replyToComment(review.id)" class="ui blue labeled submit icon button">
                    <i class="icon edit"></i> Reply
                </div>
            </form>
        </div>
    </div>
</div>


