<div *ngIf="discussions">
    <div *ngFor="let discussion of discussions" class="discussions ui card">
        <div class="content">
            <div class="left floated header">
                <a [routerLink]="['Discussion',{ id: discussion.id }]" class="header">
                    {{discussion.title}}
                </a>
            </div>
            <a [routerLink]="['Profile',{ id: discussion.user_id }]" class="right floated mini ui image">
                <img  src="{{discussion.user}}">
            </a>
            <br>
            {{discussion.comment}}

        </div>
        <div class="extra content">
            {{discussion.created_at | mydate | date}}
        </div>
    </div>

</div>


