<div class="ui four doubling cards">
    <div *ngFor="let show of shows" class="card">
        <div class="image">
            <img src="{{show.poster}}">
        </div>
        <div class="content">
            <a [routerLink]="['Show',{ id: show.id }]" class="header">
                {{show.name}}
            </a>
            ({{show.year}})
        </div>
    </div>
</div>


