<div *ngIf="episode" class="ui three column stackable grid">
    <div class="six wide column">
        <div class="episode-details ui card">
            <div class="ui two column grid">
                <div class="seven wide column">
                    <div class="ui card small image">
                        <img [routerLink]="['Show',{ id: episode.show_id }]" src="{{episode.poster}}">
                    </div>
                </div>
                <div class="nine wide column">
                    <div class="ui content episode-info">
                        <div class="ui header">{{episode.name}}</div>
                        <div [sm-rating]="episode.rating" class="ui star rating"></div>
                        <div class="ui label">
                            {{episode.rating}}/5
                        </div>
                        <h4 class="ui sub header">
                            <a [routerLink]="['Show',{ id: episode.show_id }]">
                                {{episode.show}}
                            </a>
                        </h4>
                        Season {{episode.season}} Episode {{episode.number}}
                        <button class="circular ui basic blue button">
                            <i class="calendar outline icon"></i>
                            {{episode.date | mydate | date:'longDate'}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="meta">
                    Description
                </div>
                <div class="description">
                    {{episode.description}}
                </div>
            </div>
            <div class="extra content">

            </div>
        </div>
    </div>

    <div class="six wide column">
        <episode-discussions [episode_id]="episode.id"></episode-discussions>
    </div>

    <div class="four wide column">
        <episode-actions *ngIf="isLoggedIn" (rateEvent)="getEpisode()" [episode_id]="episode.id"></episode-actions>
        <watchers-list *ngIf="isLoggedIn" [episode_id]="episode.id"></watchers-list>
    </div>
</div>