<div *ngIf="reviews">
    <div clas="ui card">
        <div *ngFor="let review of reviews" class="reviews ui card">
            <div class="content">
                <img [routerLink]="['Profile',{ id: review.user_id }]" class="right floated mini ui image"
                     src="{{review.user}}">
                <a class="header" [routerLink]="['Review',{ id: review.id }]">
                    {{review.title}}
                </a>
                <div class="meta">
                    by <a [routerLink]="['Profile',{ id: review.user_id }]">{{review.username}}</a>
                </div>
                <div class="description">
                    {{review.message}}
                </div>
            </div>
            <div class="extra content">
                <span class="left floated time">{{review.created_at | mydate | date}}</span>
              <span class="right floated">
              <a [routerLink]="['Review',{ id: review.id }]" class="header">
                  {{review.number}} Comments
              </a>
                </span>
            </div>
        </div>
    </div>
</div>