.episode-details.ui.card{
  width: 95%;
}

.episode-details.ui.card .button{
  display: block;
  margin: 20px 0;
}

.discussions.ui.card{
  width: 95%;
}

.ui.content.episode-info{
  margin: 10px 0;
}
