body {
  font-size: 1.1em;
}

.container {
  padding: 3em;
}

.ui.comments .comment .avatar {
  height: 2.5em;
}

.ui.card.content.header.home-reviews {
  font-size: 1em;
}

@media only screen and (min-width: 1200px) {
  .ui.modal {
    width: 700px;
    margin: 0 0 0 -350px;
  }
}

@media only screen and (max-width: 767px) {
  .ui.secondary.menu{
    justify-content: center;
  }
}

img{
  cursor: pointer;
}