.nav-text {
  padding: 10px;
  font-size: 1.1rem;
}

.ui.mini.image.nav-img {
  width: 40px;
}

.shows-icon {
  height: 40px;
}

.icon.nav {
  color: #444444;
  font-size: 1.5em;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

//----------------------

.ui.secondary.menu .item {
  border-radius: 500rem;
}

.ui.secondary.menu a.item:hover {
  background: #afeeee;
}

.ui.secondary.menu a.item:hover {
  color: #ffffff;
}

.ui.secondary.menu a.item {
  color: $blue;
}

.ui.divider.nav {
  margin: 0;
}

.info-message {
  position: absolute;
  color: #fff;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
  padding: 10px 50px;
  border-radius: 5px;
  z-index: 99;
}

.info-message-activate {
  animation: fadeinout 3s linear forwards;
  top: 60px;
}

.info-message.success {
  background: lighten($success-green, 7%);
}

.info-message.error {
  background: $error-red;
}

@keyframes fadeinout {
  0%, 10%, 90%, 100% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  10%, 90% {
    opacity: 1;
    transform: translate(-50%, 10px);
  }
}