.ui.mini.image{
  width: 50px;
}

.profile.ui.card{
  //height: 100%;
  //overflow: auto;
}

.user-reviews{
  height: 100%;
}

.settings.ui.input input{
  width: 300px;
}

.ui.feed > .event{
  padding: 10px 0 !important;
}

.ui.basic.button.follow{
  margin:15px 0;
}