.show-details .icon, .show-actions .icon{
  color: #444444;
  font-size: 1.5em;
}

.my-rating{
  float: right;
}

.show-details .ui.vertical.menu{
  width: 20rem;
}

.show-poster.ui.card{
  width: 90%;
}
.show-details.ui.card{
  width: 95%;
}

.show-details.ui.card > .content > .header{
  font-size: 2em;
}
.show-actions.ui.vertical.menu{
  width: inherit;
}
.reviews.ui.card{
  width: 95%;
}

.watchers .ui.divided.list{
  max-height: 7em;
  overflow: auto;
}

.seasons.ui.card, .seasons.ui.card .my-dropdown{
  width: 100%;
}

.seasons .ui.middle.aligned.divided.list{
  max-height:500px;
  overflow: auto;
}

.watchers.ui.card:first-child{
  width: 100%;
  margin: 15px 0;
}

.ui.vertical.menu .item.recommend{
  display: none;
}
