<div class="ui center aligned grid">
    <div class="six wide column">
        <h2 class="ui teal image header">
            <div class="content">
                Login
            </div>
        </h2>
        <form class="ui large form" role="form" (submit)="login(username.value, password.value)">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <input placeholder="Username" type="text" #username id="username" required>
                        <i class="user icon"></i>
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <input placeholder="Password" type="password" #password id="password" required>
                        <i class="lock icon"></i>
                    </div>
                </div>
                <button class="ui fluid large teal submit button" type="submit">Login</button>
            </div>
    </form>

    <div class="ui message">
        Don't have an account yet? <a [routerLink]="['Signup']">Sign Up</a>
    </div>
</div>
</div>
