<h2 class="ui header">New shows</h2>
<div class="ui divider"></div>

<div class="ui six doubling special cards">
    <div *ngFor="let show of shows" class="card" [routerLink]="['Show',{ id: show.id }]">
        <div class="blurring dimmable image">
            <div class="ui inverted dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui primary button">Watch show</div>
                    </div>
                </div>
            </div>
            <img src="{{show.poster}}">
        </div>
        <div class="content">
            <a class="header">
                {{show.name}}
            </a>
        </div>
    </div>
</div>

<h2 class="ui header">Recent reviews</h2>
<div class="ui divider"></div>
<div class="ui cards">
    <div *ngFor="let review of reviews" class="card">
        <div class="content">
            <a [routerLink]="['Profile',{ id: review.user_id }]">
                <img class="right floated mini ui image" src="{{review.user}}">
            </a>
            <a [routerLink]="['Review',{ id: review.id }]" class="header home-reviews">
                {{review.title}}
            </a>
            <ivd class="meta">
                <a [routerLink]="['Show',{ id: review.show_id }]" class="header">
                    {{review.show}}
                </a>
            </ivd>
            <div class="description">
                {{review.message}}
            </div>
        </div>
        <div class="extra content">
            <span class="left floated time">{{review.created_at | mydate | timeAgo}}</span>
        </div>
    </div>
</div>

