<div class="show-actions ui vertical menu">
    <a (click)="watchEpisode()" class="item">
        <i class="unhide icon"></i>
        <button *ngIf="!watching" class="ui button">
            Watch
        </button>
        <button *ngIf="watching" class="ui positive button">
            Watched
        </button>
    </a>

    <a *ngIf="watching" class="item">
        Rate
        <div *ngIf="hasRating" [sm-urating]="rating" class="ui mini star rating my-rating" (click)="setEpisode()"></div>
    </a>

    <a class="item" (click)="openModal()">
        Start discussiom
        <i class="comments icon"></i>
    </a>
</div>


<div class="ui modal discussion">
    <div class="header">
        Start a discussion
    </div>
    <div class="content">
        <div class="ui input">
            <input placeholder="Title" type="text" [(ngModel)]="discussion.title">
        </div>
        <div class="ui form field">
            <label>Text</label>
            <textarea [(ngModel)]="discussion.comments"></textarea>
        </div>
    </div>
    <div class="actions">
        <div class="ui basic deny button">
            Close
        </div>
        <div class="ui positive right labeled icon button" (click)="addDiscussion()" >
            Submit
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
