<div class="ui stackable grid">
    <div class="ui four column stackable grid">
        <div class="row">
            <div class="two wide center aligned column">
                <a [routerLink]="['Home']">
                        <img class="shows-icon" src="../../../resources/images/tv.png">
                </a>
            </div>

            <div class="eight wide center aligned column">
                <nav class="ui secondary menu center aligned">
                    <a class="item teal nav-text" [routerLink]="['ShowsList']">Shows</a>
                    <a class="item teal nav-text" [routerLink]="['Watchlist']">Watchlist</a>
                    <a class="item teal nav-text" [routerLink]="['Activity']">Activity</a>
                </nav>

            </div>

            <div class="four wide center aligned column">
                <div id="shows-search" class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" placeholder="Search shows..." type="text">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>

            <div class="two wide center aligned column">
                <div *ngIf="loggedIn">
                    <user-nav [user]="user"></user-nav>
                </div>
                <div *ngIf="!loggedIn">
                    <a class="nav-text" [routerLink]="['Login']">
                        <button class="ui basic button">
                            Login
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui divider nav"></div>

<div id="status-message" class="info-message"></div>