<div *ngIf="user" class="ui three column stackable grid">
    <div class="four wide column">
        <div class="profile ui card">
            <div class="image">
                <img src="{{user.picture}}">
            </div>
            <div class="content">
                <a class="header">{{user.first_name}} {{user.last_name}}</a>
                <div class="meta">
                    <span class="date">Joined on {{user.created_at | mydate | date:'longDate'}}</span>
                </div>
                <div *ngIf="!isMe" (click)="followUser(user.id)">
                    <button *ngIf="user.following" class="ui basic red button follow">
                        <i class="icon remove user"></i>
                        Unfollow
                    </button>
                    <button *ngIf="!user.following" class="ui basic green button follow">
                        <i class="icon add user"></i>
                        Follow
                    </button>
                </div>


                <div class="description" *ngIf="about">
                    <div class="ui list">
                        <div class="item" *ngIf="about.watching">
                            <div class="content">
                                <div class="description">
                                    <i class=" film icon"></i>
                                    Watchig <a><b>{{about.watching}}</b></a> shows
                                </div>
                            </div>
                        </div>
                        <div class="item" *ngIf="about.seen">
                            <div class="content">
                                <div class="description">
                                    <i class=" checkmark icon"></i>
                                    Saw <a><b>{{about.seen}}</b></a> episodes
                                </div>
                            </div>
                        </div>
                        <div class="item" *ngIf="about.reviews">
                            <div class="content">
                                <div class="description">
                                    <i class=" write icon"></i>
                                    Wrote <a><b>{{about.reviews}}</b></a> reviews
                                </div>
                            </div>
                        </div>
                        <div class="item" *ngIf="about.discussions">
                            <div class="content">
                                <div class="description">
                                    <i class=" comment icon"></i>
                                    Started <a><b>{{about.discussions}}</b></a> discussions
                                </div>
                            </div>
                        </div>
                        <div class="item" *ngIf="about.followers">
                            <div class="content">
                                <div class="description">
                                    <i class=" users icon"></i>
                                    Has <a><b>{{about.followers}}</b></a> followers
                                </div>
                            </div>
                        </div>
                        <div class="item" *ngIf="about.following">
                            <div class="content">
                                <div class="description">
                                    <i class=" user icon"></i>
                                    Follows <a><b>{{about.following}}</b></a> people
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <user-reviews [user_id]="user.id"></user-reviews>
    </div>


    <div *ngIf="watchlist" class="eight wide column">
        <div class="ui header">Watchlist</div>
        <div class="ui four doubling cards">
            <div *ngFor="let show of watchlist" class="card">
                <div class="image">
                    <img [routerLink]="['Show',{ id: show.id }]" src="{{show.poster}}">
                </div>
                <div class="content">
                    <a [routerLink]="['Show',{ id: show.id }]" class="ui sub header">
                        {{show.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <user-friends [user_id]="user.id"></user-friends>
    </div>
</div>


