<div class="ui card">
    <div class="content">
        <div class="ui header">Friends</div>

        <div class="ui top attached tabular menu">
            <a sm-tabs class="item active" data-tab="following">Following</a>
            <a sm-tabs class="item" data-tab="followers">Followers</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="following">
            <div *ngIf="following" class="ui list">
                <div *ngFor="let user of following" class="item">
                    <img [routerLink]="['Profile',{ id: user.id }]" class="ui avatar image" src="{{user.picture}}">
                <span class="content">
                   <a [routerLink]="['Profile',{ id: user.id }]" class="header">
                       {{user.username}}
                   </a>
                </span>
                </div>
            </div>
        </div>

        <div class="ui bottom attached tab segment" data-tab="followers">
            <div *ngIf="followers" class="ui list">
                <div *ngFor="let user of followers" class="item">
                    <img [routerLink]="['Profile',{ id: user.id }]" class="ui avatar image" src="{{user.picture}}">
                <span class="content">
                    <a [routerLink]="['Profile',{ id: user.id }]" class="header">
                        {{user.username}}
                    </a>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>