<div *ngIf="show" class="ui three column stackable grid">
    <div class="five wide column">
        <div class="show-poster  ui card">
            <div class="image">
                <img src="{{posterUrl}}">
            </div>
        </div>
    </div>
    <div class="six wide column">
        <div class="show-details ui card">
            <div class="content">
                <div class="header">{{show.name}}</div>
                <div class="ui list">
                    <div class="item">
                        <div [sm-rating]="show.rating" class="ui tiny star rating"></div>
                        <div class="ui label">
                            {{show.rating}}/5
                        </div>
                    </div>
                    <div *ngIf="show.creator" class="item">
                        <i class="users icon"></i>
                        <div class="content">
                            {{show.creator}}
                        </div>
                    </div>
                    <div *ngIf="show.channel" class="item">
                        <i class="marker icon"></i>
                        <div class="content">
                            {{show.channel}}
                        </div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i>
                        <div class="content">
                            {{show.year}}
                        </div>
                    </div>
                    <div *ngIf="categories" class="item">
                        <i class="tags icon"></i>
                        <div class="content">
                            <div class="ui horizontal divided list">
                                <div *ngFor="let cat of categories" class="item">
                                    {{cat.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="info circle icon"></i>
                        <div class="content">
                            <a *ngIf="show.imdb_id" class="ui blue basic label" href="http://www.imdb.com/title/{{show.imdb_id}}">
                                IMDB
                            </a>
                            <a *ngIf="show.tmdb_id" class="ui blue basic label" href="https://www.themoviedb.org/tv/{{show.tmdb_id}}">
                                TMDB
                            </a>
                        </div>
                    </div>
                </div>
                <div class="meta">
                    Description
                </div>
                <div class="description">
                    {{show.description}}
                </div>
            </div>
        </div>
        <show-reviews [show_id]="show.id"></show-reviews>

    </div>
    <div class="five wide column">
        <show-actions *ngIf="isLoggedIn" [show_id]="show.id"></show-actions>
        <watchers-list *ngIf="isLoggedIn" [show_id]="show.id"></watchers-list>
        <show-seasons [show_id]="show.id"></show-seasons>
    </div>
</div>

