<div class="show-actions ui vertical menu">
    <a (click)="watchShow()" class="item">
        <i class="unhide icon"></i>

        <button *ngIf="!watching" class="ui button">
            Watch
        </button>
        <button *ngIf="watching" class="ui positive button">
            Watching
        </button>
    </a>

    <a *ngIf="watching" class="item">
        Rate
        <div *ngIf="hasRating" [sm-urating]="rating" class="ui mini star rating my-rating" (click)="setShow()"></div>
    </a>

    <a class="item" (click)="showSelect()">
        Recommend
        <i class="announcement icon"></i>
    </a>

    <a class="item recommend" id="rec-select">
        <select #sel (change)="onSelectChange(sel.value)" class="my-dropdown ui dropdown">
            <option value="">Choose friend</option>
            <option *ngFor="let friend of friends" [value]="friend.id">
                {{friend.username}}
            </option>
        </select>
        <button class="ui button" (click)="recommend()">Recommend</button>

    </a>
    <a class="item" (click)="openModal()">
        Review
        <i class="pencil icon"></i>
    </a>

    <div *ngIf="watching" class="item">
        <div *ngIf="hasPercent" [sm-progress]="percent" class="ui indicating progress">
            <div class="bar">
                <div class="progress"></div>
            </div>
            <div class="label">Watched</div>
        </div>
    </div>
</div>

<div class="ui modal review">
    <div class="header">
        Review show
    </div>
    <div class="content">
        <div class="ui input">
            <input placeholder="Title" type="text" [(ngModel)]="review.title">
        </div>
        <div class="ui form field">
            <label>Text</label>
            <textarea [(ngModel)]="review.message"></textarea>
        </div>
    </div>
    <div class="actions">
        <div class="ui basic deny button">
            Close
        </div>
        <div class="ui positive right labeled icon button" (click)="submitReview()">
            Submit
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>