<div *ngFor="let notification of notifications">

    <div [ngSwitch]='notification.type' class="notifications ui feed">

        <div *ngSwitchWhen="'follow'" class="event">
            <div class="label">
                <img class="ui avatar image" src="{{notification.picture}}">
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user" [routerLink]="['Profile',{ id: notification.follower_id }]">
                        {{notification.follower}}
                    </a>
                    started following you
                    <div class="date">
                        {{notification.created_at | mydate | timeAgo}}
                    </div>
                </div>
            </div>
        </div>

        <div *ngSwitchWhen="'episode'" class="event">
            <div class="content">
                <div class="summary">
                    <a class="user" [routerLink]="['Show',{ id: notification.show_id }]">
                        {{notification.show}}
                    </a>
                    aired a new episode:
                    <a class="user" [routerLink]="['Episode',{ id: notification.episode_id }]">
                        {{notification.episode}}
                    </a>
                    <div class="date">
                        <span>{{notification.created_at | mydate  | timeAgo}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div *ngSwitchWhen="'recommendation'" class="event">
            <div class="label">
                <img class="ui avatar image" src="{{notification.picture}}">
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user" [routerLink]="['Profile',{ id: notification.follower_id }]">
                        {{notification.follower}}
                    </a>
                    recommended you
                    <a class="user" [routerLink]="['Show',{ id: notification.show_id }]">
                        {{notification.show}}
                    </a>
                    <div class="date">
                        <span>{{notification.created_at | mydate  | timeAgo}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

