<div class="ui center aligned grid">
    <div class="six wide column">
        <h2 class="ui teal image header">
            <div class="content">
                Sign Up
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="two fields">
                    <div class="field">
                        <input placeholder="First Name*" type="text" [(ngModel)]="user.first_name">
                    </div>
                    <div class="field">
                        <input placeholder="Last Name*" type="text" [(ngModel)]="user.last_name">
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <input placeholder="Username" type="text" [(ngModel)]="user.username" required>
                        <i class="user icon"></i>
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <input placeholder="Email" type="email" [(ngModel)]="user.email" required>
                        <i class="at icon"></i>
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <input placeholder="Password" type="password" [(ngModel)]="password1" required>
                        <i class="unlock alternate icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <input placeholder="Re-type password" [(ngModel)]="password2" type="password" required>
                        <i class="lock icon"></i>
                    </div>
                </div>
                <button class="ui fluid large teal button" (click)="signup()">Sign up</button>
            </div>
        </form>

    </div>
</div>
