<div class="ui stackable grid" *ngIf="discussion">
    <div class="four wide column">
        <a class="ui sub header" [routerLink]="['Show',{ id: discussion.show_id }]">
            {{discussion.show}}
        </a>
        <a class="ui sub header" [routerLink]="['Episode',{ id: discussion.episode_id }]">
            {{discussion.episode}}
        </a>
    </div>
    <div class="eight wide column">
        <div class="ui dividing header">{{discussion.title}}</div>

        <div *ngIf="comments" class="ui comments">
            <div *ngFor="let comment of comments" class="comment">
                <a class="avatar" [routerLink]="['Profile',{ id: comment.user_id }]">
                    <img src="{{comment.user}}">
                </a>
                <div class="content">
                    <a class="author">{{comment.username}}</a>
                    <div class="metadata">
                        <span class="right floated date">{{comment.created_at | mydate | timeAgo}}</span>
                    </div>
                    <div class="text">
                        {{comment.message}}
                    </div>
                </div>
            </div>

            <form class="ui reply form">
                <div class="field">
                    <textarea rows="2" [(ngModel)]="reply"></textarea>
                </div>
                <div (click)="replyToComment(discussion.id)" class="ui blue labeled submit icon button">
                    <i class="icon edit"></i> Add Reply
                </div>
            </form>
        </div>
    </div>
</div>


