<div *ngFor="let item of activity">

    <div [ngSwitch]='item.type' class="notifications ui feed">

        <div *ngSwitchWhen="'review'" class="event">
            <div class="label">
                <img class="ui avatar image" src="{{item.picture}}" [routerLink]="['Profile',{ id: item.user_id }]">
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user" [routerLink]="['Profile',{ id: item.user_id }]">
                        {{item.user}}
                    </a>
                    wrote a review for
                    <a class="user" [routerLink]="['Show',{ id: item.show_id }]">
                        {{item.show}}
                    </a>
                    titled
                    <a class="user" [routerLink]="['Review',{ id: item.review_id }]">
                        {{item.title}}
                    </a>
                    <div class="date">
                        {{item.date | mydate | timeAgo}}
                    </div>
                </div>
            </div>
        </div>

        <div *ngSwitchWhen="'discussion'" class="event">
            <div class="label">
                <img class="ui avatar image" src="{{item.picture}}" [routerLink]="['Profile',{ id: item.user_id }]">
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user" [routerLink]="['Profile',{ id: item.user_id }]">
                        {{item.user}}
                    </a>
                    started a discussion for the episode
                    <a class="user" [routerLink]="['Episode',{ id: item.episode_id }]">
                        {{item.episode}}
                    </a>
                    titled
                    <a class="user" [routerLink]="['Discussion',{ id: item.discussion_id }]">
                        {{item.title}}
                    </a>
                    <div class="date">
                        {{item.date | mydate | timeAgo}}
                    </div>
                </div>
            </div>
        </div>


        <div *ngSwitchWhen="'saw'" class="event">
            <div class="label">
                <img class="ui avatar image" src="{{item.picture}}" [routerLink]="['Profile',{ id: item.user_id }]">
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user" [routerLink]="['Profile',{ id: item.user_id }]">
                        {{item.user}}
                    </a>
                    saw the episode
                    <a class="user" [routerLink]="['Episode',{ id: item.episode_id }]">
                        {{item.episode}}
                    </a>
                    <div class="date">
                        <span>{{item.date | mydate  | timeAgo}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div *ngSwitchWhen="'watched'" class="event">
            <div class="label">
                <img class="ui avatar image" src="{{item.picture}}" [routerLink]="['Profile',{ id: item.user_id }]">
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user" [routerLink]="['Profile',{ id: item.user_id }]">
                        {{item.user}}
                    </a>
                    started watching
                    <a class="user" [routerLink]="['Show',{ id: item.show_id }]">
                        {{item.show}}
                    </a>
                    <div class="date">
                        <span>{{item.date | mydate  | timeAgo}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

