<div class="shows-list ui grid">
    <div class="row filter-row">
        <div class="eight wide right aligned column">

            <div class="ui select-button labeled icon button">
                <i class="filter icon"></i>
                <select #filter (change)="onFilterChange(filter.value)" class="my-dropdown ui dropdown">
                    <option value="">Filter</option>
                    <option value="all">All</option>
                    <option *ngFor="let category of categories" [value]="category.id">
                        {{category.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui select-button labeled icon button">
                <i class="arrow down icon"></i>
                <select #sort (change)="onSortChange(sort.value)" class="my-dropdown ui dropdown">
                    <option value="">Sort</option>
                    <option value="name">Name</option>
                    <option value="year">Year</option>
                    <option value="rating">Rating</option>
                </select>
            </div>
        </div>
    </div>
</div>


<div class="ui four doubling cards">
    <div *ngFor="let show of shows" class="card" >
        <div class="image" [routerLink]="['Show',{ id: show.id }]" >
            <img src="{{show.poster}}">
        </div>
        <div class="content">
            <a class="header" [routerLink]="['Show',{ id: show.id }]" >
                {{show.name}}
                <span class="tiny">({{show.year}})</span>
            </a>

            <div [sm-rating]="show.rating" class="ui tiny star rating"></div>

        </div>
    </div>
</div>


